.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #00000080;
  box-shadow: 0 2px 5px rgb(197 177 177 / 78%);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease, transform 1s ease;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  font-family: cursive;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  color: white;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
    /* transform: translateY(0);
    transition: transform 1s ease;
    z-index: 1000; */
}

.menu li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.active{
  color: rgb(234, 103, 9) !important;
}

/* Add these classes at the bottom of your Navbar.css */

.navbar.hide {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.navbar.show {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
}


.menu li a:hover {
  color: #007bff;
}

/* Sticky state */
.sticky {
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 80px;
  color: black;
  transform: translateY(0);
  transition: transform 1s ease;
  z-index: 1000;
}

.sticky .logo span,
.sticky .menu li a {
  color: black;
}

.sticky .menu li a:hover {
  color: #007bff;
}

/* Toggle Button */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 1100;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.menu-toggle.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
  }

  .menu {
    position: fixed;
    top: 60px;
    right: -100%;
    background-color: #10172b;
    height: 100vh;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px;
    gap: 30px;
    transition: right 0.3s ease;
  }

  .menu .active {
    right: 0;
  }

  .menu li a {
    color: white;
    font-size: 18px;
  }

  .menu-toggle {
    display: flex;
  }

  .logo span {
    color: white;
  }

  .sticky .menu-toggle .bar {
    background-color: black;
  }

  .sticky .menu li a {
    color: black;
  }
}
